huggingface-hub==0.26.2
numpy==2.0.2
PyYAML==6.0.2
PyMuPDF==1.24.13
pyzmq==26.2.0
scikit-learn==1.5.2
streamlit==1.40.0
sympy==1.13.1
tenacity==9.0.0
threadpoolctl==3.5.0
tokenizers==0.20.2
toml==0.10.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.66.6
traitlets==5.14.3
transformers==4.46.1